.user-list {
  a {
    padding: 0 15px;
    &:hover {
      img {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .uk-transition-fade {
    color: #fff;
  }
  &-name {
    font-size: .9em;
  }
  &-item {
    position: relative;
    min-width: 120px;
    padding-top: 15px;
  }
  [class*='user-list-button-'] {
    padding: 5px;
    background: #fff;
    position: absolute;
    z-index: 1;
    color: #000;
    outline: none;
    right: 5px;
    &:active, &:visited, &:focus {
      outline: none;
    }
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    &.user-list-button-delete{
      top: 10px;
    }
    &.user-list-button-edit{
      top: 94px;
    }
  }

}
.user-list img,
.user-edit img,
.user-view img{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: block;
  border: 5px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  background: url("../../assets/spin.gif") 45% 50% no-repeat;
}
.user-error{
  font-size: 12px;
  color: red;
}
button span {
  display: block
}
input.ng-touched.ng-invalid{
  border-color: red;
}
