<h2>Sample users</h2>
<div class="uk-inline">
  <span class="uk-form-icon" uk-icon="icon: search"></span>
  <input placeholder="Search users by name" class="uk-input" #searchInput type="search"
         (keyup)="searchUsers(searchInput.value)">
</div>
<button class="uk-button uk-button-primary" type="button" uk-toggle="target: #new-user-modal">New User</button>
<div class="user-list uk-flex uk-flex-center uk-flex-wrap">
  <div *ngFor="let user of users"
       class="user-list-item uk-position-relative uk-text-center uk-margin-auto uk-margin-medium-top">
    <a class="uk-inline-clip uk-transition-toggle" routerLink="/view/{{user.id}}">
      <img class="uk-transition-scale-up uk-transition-opaque uk-border-circle" [src]="user.avatar"
           alt="{{ user.first_name}}"/>
      <div class="uk-position-center">
        <span class="uk-transition-fade" uk-icon="icon: search; ratio: 1"></span>
      </div>
      <div class="user-list-name">{{ user.first_name}}</div>
    </a>
    <button (click)="deleteUser(user.id)" type="button"
            class="uk-border-circle user-list-button-delete" uk-icon="icon: close; ratio: .8"></button>
    <button type="button" routerLink="/edit/{{user.id}}"
            class="uk-border-circle user-list-button-edit" uk-icon="icon: pencil; ratio: .8"></button>
  </div>
  <div *ngIf="!users?.length">
    Users not found!
  </div>
</div>

<!--TODO: close modal after validation-->

<div id="new-user-modal" uk-modal>
  <div class="uk-modal-dialog">
    <form *ngIf="userForm" [formGroup]="userForm" class="uk-form-stacked">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">New user</h2>
      </div>
      <div class="uk-modal-body">
        <div class="uk-form-stacked">
          <div>
            <label class="uk-form-label">Avatar Url</label>
            <div class="uk-form-controls">
              <input type="url" formControlName="avatar" [(ngModel)]="user.avatar" class="uk-input"/>
              <div class="user-error" *ngIf="isControlInvalid('avatar')">
                Validation error!
              </div>
            </div>
          </div>
          <div>
            <label class="uk-form-label">Name</label>
            <div class="uk-form-controls">
              <input type="text" formControlName="first_name" [(ngModel)]="user.first_name" class="uk-input"/>
              <div class="user-error" *ngIf="isControlInvalid('first_name')">
                Validation error!
              </div>
            </div>
          </div>
          <div>
            <div class="uk-form-label">Last name</div>
            <div class="uk-form-controls">
              <input type="text" formControlName="last_name" [(ngModel)]="user.last_name" class="uk-input"/>
              <div class="user-error" *ngIf="isControlInvalid('last_name')">
                Validation error!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close"><i
          uk-icon="icon:ban;ratio:.7"></i>&nbsp;cancel
        </button>
        <button class="uk-button uk-button-primary uk-modal-close" (click)="saveUser()"><i
          uk-icon="icon:pull;ratio:.7"></i>&nbsp;save
        </button>
      </div>
    </form>
  </div>
</div>
