<h2>Sample users</h2>
<div *ngIf="user" class="user-view">
  <div class="uk-width-medium uk-margin-auto">
    <div class="uk-card uk-card-default uk-card-small">
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-text-center">
          <img class="uk-transition-scale-up uk-transition-opaque uk-border-circle" src="{{user.avatar}}"
               alt="{{ user.first_name }}"/>
        </h3>
      </div>
      <div class="uk-card-body">
        <div class="uk-child-width-1-2" uk-grid>
          <div>ID</div>
          <div>{{user.id}}</div>
          <div>First name</div>
          <div>{{user.first_name }}</div>
          <div>Last name</div>
          <div>{{user.last_name }}</div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-center">
        <div class="uk-button-group">
          <button class="uk-button uk-button-primary uk-button-small" (click)="goHome()"><i
            uk-icon="icon:reply"></i> back
          </button>
          <button class="uk-button uk-button-primary uk-button-small" routerLink="/edit/{{user.id}}"><i
            uk-icon="icon:pencil"></i> edit
          </button>
          <button class="uk-button uk-button-danger uk-button-small" (click)="deleteUser(user.id)"><i
            uk-icon="icon:close"></i> delete
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
