<div uk-sticky="media: 960" class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed">
  <div class="uk-container">
    <nav class="uk-navbar">
      <div class="uk-navbar-left">
        <a href="../" class="uk-navbar-item uk-logo">
          <img src="../../assets/logo-nav@2x.png" alt="logo">
        </a>
      </div>
    </nav>
  </div>
</div>
<div id="page" uk-height-viewport="expand: true">
  <div class="uk-container">
    <router-outlet></router-outlet>
  </div>
</div>


