//
// Component: Notification
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================

// @mixin hook-notification(){}


// Message
// ========================================================================

@mixin hook-notification-message(){
  border-radius: 5px;
  border: solid 1px #333;
}


// Close
// ========================================================================

 @mixin hook-notification-close(){display: inline-block;color: white}


// Style modifiers
// ========================================================================

// @mixin hook-notification-primary(){}

// @mixin hook-notification-success(){}

// @mixin hook-notification-warning(){}

// @mixin hook-notification-danger(){}


// Miscellaneous
// ========================================================================

// @mixin hook-notification-misc(){}
