<h2>Sample users</h2>
<div class="user-edit" *ngIf="user">
  <form class="uk-form-stacked user-form" [formGroup]="userForm" (submit)="save()">
    <div class="uk-width-medium uk-margin-auto">
      <div class="uk-card uk-card-default uk-card-small">
        <div class="uk-card-header">
          <h3 class="uk-card-title uk-text-center">
            <img class="uk-transition-scale-up uk-transition-opaque uk-border-circle" src="{{user.avatar}}"
                 alt="{{ user.first_name }}"/>
          </h3>
        </div>
        <div class="uk-card-body">
          <div class="form-group">
            <label class="uk-form-label">Avatar Url</label>
            <div class="uk-form-controls">
              <input required type="url" [(ngModel)]="user.avatar" formControlName="avatar" class="uk-input"/>
              <div class="user-error" *ngIf="isControlInvalid('avatar')">
                Validation error!
              </div>
            </div>
          </div>
          <div>
            <label class="uk-form-label">Name</label>
            <div class="uk-form-controls">
              <input required type="text" [(ngModel)]="user.first_name" formControlName="first_name" class="uk-input"/>
              <div class="user-error" *ngIf="isControlInvalid('first_name')">
                Validation error!
              </div>
            </div>
          </div>
          <div>
            <div class="uk-form-label">Last name</div>
            <div class="uk-form-controls">
              <input required type="text" [(ngModel)]="user.last_name" formControlName="last_name" class="uk-input"/>
              <div class="user-error" *ngIf="isControlInvalid('last_name')">
                Validation error!
              </div>
            </div>
          </div>

        </div>
        <div class="uk-card-footer uk-text-center">
          <div class="uk-button-group">
            <button class="uk-button uk-button-primary uk-button-small" (click)="goHome()"><i
              uk-icon="icon:reply"></i> <span>cancel</span>
            </button>
            <button type="submit" class="uk-button uk-button-danger uk-button-small"><i
              uk-icon="icon:refresh"></i> <span>update</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
